//=== Fonts ===
$main-font: 'Noto Sans', sans-serif;
$title-font: 'Bungee', cursive;

//===Colors ===
$main-clr: #E57F17;
$white-clr: #fff;
$black-clr: #000;
$nav-font-clr: #ddd;
$bg-clr: #333;
$grey-clr: #aaa;

$html-clr: #e54d26;
$css-clr: #3d8fc6;
$js-clr: #f0db4f;
$jquery-clr: #0769ad;
$bootstrap-clr: #59407f;
$sass-color: #ac6499;
$grunt-clr: #f2aa32;
$github-clr: #181616;
$git-clr: #cf4929;
$ajax-clr: #333;
$ps-color: #e54d26;

// .html {
// 	background-color: $html-clr;
// }

// .css {
// 	background-color: $css-clr;	
// }

// .js {
// 	background-color: $js-clr;
// }

// .jquery {
// 	background-color: $jquery-clr;	
// }

// .bootstrap {
// 	background-color: $bootstrap-clr;
// }

// .sass {
// 	background-color: $sass-color;	
// }

// .grunt {
// 	background-color: $grunt-clr;
// }

// .github {
// 	background-color: $github-clr;	
// }

// .git {
// 	background-color: $git-clr;	
// }

// .ajax {
// 	background-color: $ajax-clr;
// }

// .photoshop {
// 	background-color: $ps-color;	
// }