//=== Fonts ===
$main-font: 'Noto Sans', sans-serif;
$title-font: 'Bungee', cursive;
$card-font: 'PT Mono', monospace;

//===Colors ===
$main-clr: #E57F17;
$white-clr: #fff;
$black-clr: #000;
$font-clr: #939899;

//===Other===
$text-shadow: 1px 1px 1px #000;
$radius: 4px;