//=== Fonts ===
$main-font: 'Noto Sans', sans-serif;
$title-font: 'Bungee', cursive;

//===Colors ===
$main-clr: #E57F17;
$white-clr: #fff;
$black-clr: #000;
$nav-font-clr: #ddd;
$bg-clr: #333;
$grey-clr: #aaa;

$html-clr: #e54d26;
$css-clr: #3d8fc6;
$js-clr: #f0db4f;
$jquery-clr: #0769ad;
$bootstrap-clr: #59407f;
$sass-color: #ac6499;
$grunt-clr: #f2aa32;
$github-clr: #181616;
$git-clr: #cf4929;
$ajax-clr: #333;
$ps-color: #80b5e2;